.board-container {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) 
}
.start-button {
    margin-bottom: 10px;
    width:150px;
    align-items: center;

}

.board-base::after {
    content: "";
    clear: both;
    display: flex;
    justify-content: center;
}


.result {
    flex-direction: column;
    margin-top: 2rem;
    color:black;

    font-size: 2em;
    font-style: bold;
    background-color: white;
}

.info {
    margin-top: 2rem;
    color:black;
    font-size: 2em;
    font-style: bold;
    background-color: white;
}
  strong {
    color: blueviolet;
}
