<div class="board-container">
    <div class="start-button">
        <button class="btn btn-primary" (click)="startGame()">Start Game</button>
    </div>
    <div class="board-base">
        <app-cell *ngFor="let cell of cells | slice: 0: 3; let i = index" [value]="cell" (onClick)=clickHandler(i)>
        </app-cell>
    </div>
    <div class="board-base">

        <app-cell *ngFor="let cell of cells | slice: 3: 6; let i = index" [value]="cell" (onClick)=clickHandler(i+3)>
        </app-cell>

    </div>
    <div class="board-base">
        <app-cell *ngFor="let cell of cells | slice: 6; let i = index" [value]="cell" (onClick)=clickHandler(i+6)>
        </app-cell>
    </div>
    <div class="result" *ngIf="winner">
        <p> status: </p> {{winner}} 
    </div>
</div>